html {
    background-color: #003F67;
}

#About_up{
    display: flex;
    justify-content: center;
}
#About_up_text{
    position: relative;
    margin-top: 12%;
    text-align: center;
    font-family: 'Noto Sans TC',Arial,sans-serif;
    color: white;
}

#About_down{
    display: flex;
    justify-content: center;
}
#About_down_text{
    position: relative;
    margin-top: -1%;
    text-align: center;
    font-family:'Noto Sans TC',Arial,sans-serif;
    color: white;
}

#About_btn{
    display: flex;
    justify-content: center;
}
#About_btn_text{
    position: absolute;
    bottom: 15%;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;

    cursor: pointer;
    background-color:  #003f67;
    color: #fff;
    border: 2px #fff solid;
    
    
}
#About_btn_text:hover{
    background-color: #fff;
    color: #003f67;
}

