html {
    background-color: #003F67;
  }

#left_column{
    float:left;
    position: absolute;
    left:25%;
    top:25%;

    color:white;
    font-size:20px;
    font-weight:500;
}

#left_image{
    
    overflow: hidden;
}

#left_text{
    margin:0;
    text-align: center;
    font-family:'Noto Sans TC',Arial,sans-serif;
}

#right_column{
    float:left;
    position: absolute;
    right:25%;
    top:25%;

    color:white;
    font-size:20px;
    font-weight:500;
}

#right_image{
    
    overflow: hidden;
}

#right_text{
    margin:0;
    text-align: center;
    font-family:'Noto Sans TC',Arial,sans-serif;
}

#footer{
    position: absolute;
    bottom:0%;
    left:42.5%;

    font-family:'Noto Sans TC',Arial,sans-serif;
    color:white;
}

#logo{
    position: relative;
    left:50%;
    bottom:5%;
    margin-left:-50px;
    
}

#footer_text_1{
    margin:0;
}
#footer_text_2{
    margin:0;
}