:focus{
    outline:0;
}

#container{
    font-family:'Noto Sans TC',Arial,sans-serif;
}
#input{
    position: absolute;
    top:40%;
    left:33%;
    
    color:white;
    width:35%;
    
    
}

#username{
    
    margin-bottom: 5%;
}

#username_tag{
    margin:0;
    float: left;
    font-size: 20px;
    font-weight:500;
}

#username_input{
    background-color: #003F67;
    height:20px;
    width:65%;
    font-size:20px;
    
    border-width:0 0 4px 0;
    border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;

    margin-left:5%;
    margin-top:2%;
}

#username_input:focus::placeholder{
    color: #003F67;
    
}


#password{
    clear: both;
}

#password_tag{
    margin:0;
    float:left;
    font-size: 20px;
    font-weight:500;
}

#password_input{
    background-color: #003F67;
    height:16px;
    width:65%;
    font-size:20px;
    
    border-width:0 0 4px 0;
    border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;
    
    margin-left:6.2%;
    margin-top:2%;
}
#password_input:focus::placeholder{
    color: #003F67;
    
}

#links{
    clear: both;
    margin-top:5%;
    
}

#create{
    float:left;
    color:white;
    text-decoration: none;
}

#forgot{
    float:right;
    color:white;
    text-decoration: none;
}

#footer{
    position: absolute;
    bottom:0%;
    left:42.5%;

    font-family:'Noto Sans TC',Arial,sans-serif;
    color:white;
}

#logo{
    position: relative;
    left:50%;
    margin-bottom: -15%;
    margin-left:-50px;
    
}

#footer_text_1{
    margin:0;
}
#footer_text_2{
    margin:0;
}